# 프로젝트 - Movielens 영화 추천 실습  
- 이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작  
- 이번에 활용할 데이터셋은 추천시스템의 MNIST라고 부를만한 Movielens 데이터    
- 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로  
- MovieLens 1M Dataset 사용을 권장합니다.  
- 별점 데이터 implicit 데이터로 간주하고 테스트    
- 별점을 시청횟수로 해석  
- 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외    
- MovieLens 1M Dataset 데이터셋의 경우는 크기가 작아서 아래와 같이 직접 다운

## Step 1. 데이터 준비와 전처리

Movielens 데이터  
rating.dat 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터  

**`데이터 형식(head)`**  

**"ratings.dat" format:**    
`UserID::MovieID::Rating::Timestamp`  
**"users.dat" format:**  
`UserID::Gender::Age::Occupation::Zip-code`  
**"movies.dat"**    
`MovieID::Title::Genres`

### 1) 라이브러리 import 및 데이터 가져오기¶

In [1]:
import os

import numpy as np
import pandas as pd
import re

from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares

In [2]:
#ratings 데이터 읽기
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')

orginal_data_size = len(ratings) #초기 data 수치
#print(orginal_data_size)
ratings.head(10)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291
5        1      1197       3  978302268
6        1      1287       5  978302039
7        1      2804       5  978300719
8        1       594       4  978302268
9        1       919       4  978301368

In [3]:
# 영화 제목을 보기 위해 메타 데이터를 읽기
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python',  encoding = "ISO-8859-1")
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [4]:
# 사용자 메타 데이터를 읽기
users_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/users.dat'
cols = ['user_id', 'gender', 'age', 'occupation', 'zip-code'] 
users = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python',  encoding = "ISO-8859-1")
users.head()

,user_id,gender,age,occupation,zip-code
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN

In [5]:
# 3점 이상만 남김 (유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정)
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)    #3점 이상인 data 숫자

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')
#데이터 비율 확인

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [6]:
# rating 컬럼의 이름을 count로 바꿈(평점 데이터를 선호도로 사용하기 위해서)
ratings.rename(columns={'rating':'count'}, inplace=True)
ratings.head(10)

   user_id  movie_id  count  timestamp
0        1      1193      5  978300760
1        1       661      3  978302109
2        1       914      3  978301968
3        1      3408      4  978300275
4        1      2355      5  978824291
5        1      1197      3  978302268
6        1      1287      5  978302039
7        1      2804      5  978300719
8        1       594      4  978302268
9        1       919      4  978301368

In [7]:
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

In [8]:
#소문자로 바꾸기(# 검색을 쉽게하기 위해 제목 문자열을 소문자로 바꿈)
movies['title'] = movies['title'].str.lower() 
movies

,movie_id,title,genre
0,1,toy story (1995),Animation|Children's|Comedy
1,2,jumanji (1995),Adventure|Children's|Fantasy
2,3,grumpier old men (1995),Comedy|Romance
3,4,waiting to exhale (1995),Comedy|Drama
4,5,father of the bride part ii (1995),Comedy
...,...,...,...
3878,3948,meet the parents (2000),Comedy
3879,3949,requiem for a dream (2000),Drama
3880,3950,tigerland (2000),Drama
3881,3951,two family house (2000),Drama
3882,3952,"contender, the (2000)",Drama|Thriller

## Step 2. 분석해 봅시다.

* ratings에 있는 유니크한 영화 개수

In [9]:
ratings['movie_id'].nunique()

3628

* rating에 있는 유니크한 사용자 수

In [10]:
ratings['user_id'].nunique()

6039

* 가장 인기 있는 영화 30개(인기순)

In [11]:
#별점 정보와 영화 정보 필요하여 2가지 데이터 셋 합침

ratings_with_title = pd.merge(ratings, movies[['title', 'movie_id']], on='movie_id', how='left')
ratings_with_title

mv_count = ratings_with_title.groupby('title')['user_id'].count()
mv_count.sort_values(ascending=False).head(30)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: user_id, dtype: int64

## Step 3. 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

In [12]:
my_favorite = ['forrest gump (1994)' , 'godfather, the (1972)' ,'pulp fiction (1994)','sixth sense, the (1999)', 'silence of the lambs, the (1991)']

for movie in my_favorite:
    print(movies[movies['title'] == movie])
    print('--------------------------------------------------------------------')

     movie_id                title               genre
352       356  forrest gump (1994)  Comedy|Romance|War
--------------------------------------------------------------------
     movie_id                  title               genre
847       858  godfather, the (1972)  Action|Crime|Drama
--------------------------------------------------------------------
     movie_id                title        genre
293       296  pulp fiction (1994)  Crime|Drama
--------------------------------------------------------------------
      movie_id                    title     genre
2693      2762  sixth sense, the (1999)  Thriller
--------------------------------------------------------------------
     movie_id                             title           genre
589       593  silence of the lambs, the (1991)  Drama|Thriller
--------------------------------------------------------------------

In [13]:
my_mvid = [356, 858, 296, 2762, 593]

# 960917이라는 아이디 추가
my_movielist = pd.DataFrame({'user_id': ['999998']*5, 'count':[5]*5, 'movie_id': my_mvid})

if not ratings_with_title.isin({'user_id':[999998]})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings_with_title = ratings.append(my_movielist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

ratings_with_title.tail(10)       # 잘 추가되었는지 확인해 봅시다.

        user_id  movie_id  count    timestamp
1000203    6040      1090      3  956715518.0
1000205    6040      1094      5  956704887.0
1000206    6040       562      5  956704746.0
1000207    6040      1096      4  956715648.0
1000208    6040      1097      4  956715569.0
0        999998       356      5          NaN
1        999998       858      5          NaN
2        999998       296      5          NaN
3        999998      2762      5          NaN
4        999998       593      5          NaN

In [14]:
# timestamp 컬럼 제거
ratings_with_title.drop('timestamp', axis=1, inplace=True)
ratings_with_title

   user_id  movie_id  count
0        1      1193      5
1        1       661      3
2        1       914      3
3        1      3408      4
4        1      2355      5
..     ...       ...    ...
0   999998       356      5
1   999998       858      5
2   999998       296      5
3   999998      2762      5
4   999998       593      5

[836483 rows x 3 columns]

In [15]:
#user_id와 movie_id 고유한 값으로 만들기
#원래의 값과 고유한 값을 이어주는 dictionary를 생성

user_unique = ratings_with_title['user_id'].unique()
movie_unique = ratings_with_title['movie_id'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

temp_user_data = ratings_with_title['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings_with_title):   
    print('user_id column indexing OK!!')
    ratings_with_title['user_id'] = temp_user_data    
else:
    print('user_id column indexing Fail!!')

temp_movie_data = ratings_with_title['movie_id'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings_with_title):
    print('movie column indexing OK!!')
    ratings_with_title['movie_id'] = temp_movie_data
else:
    print('movie column indexing Fail!!')

ratings_with_title

user_id column indexing OK!!
movie column indexing OK!!

    user_id  movie_id  count
0         0         0      5
1         0         1      3
2         0         2      3
3         0         3      4
4         0         4      5
..      ...       ...    ...
0      6039       160      5
1      6039       607      5
2      6039       222      5
3      6039        38      5
4      6039       121      5

[836483 rows x 3 columns]

## Step 4. CSR matrix를 직접 만들어 봅시다.

In [16]:
num_user = ratings_with_title['user_id'].nunique()
num_movie = ratings_with_title['movie_id'].nunique()

csr_data = csr_matrix((ratings_with_title['count'], (ratings_with_title.user_id, ratings_with_title.movie_id)))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## Step 5. als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

In [17]:
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [18]:
#Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [19]:
#als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose)¶
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [20]:
#model fitting
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

## Step 6. 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [21]:
limjs = user_to_idx['999998']

In [22]:
#영화 index  나의 선호도 파악
mo_in1 = movie_to_idx[1]
mo_in1_vector = als_model.item_factors[mo_in1]
np.dot(limjs, mo_in1_vector)

array([ -76.79098456, -165.5876094 ,  144.32125872,    6.01618127,
        -63.1284494 ,   64.71251014,   67.01919792,  -34.50772461,
         30.12946548,  -77.16757918,   88.24973334,  -54.94571785,
         11.64828062,   38.42286835,  125.86506806, -121.56542479,
        -27.64424691,   -3.01350258,   26.82118189,    6.19613711,
        -29.01389691, -152.10185589,   55.02359693,  -27.53655082,
        133.99397547,   60.3192455 , -157.41916347,   24.81082777,
         12.75675981,  -23.68047865,   36.49771329,  100.12762426,
         17.03833656,   43.74372764,  -77.98640914,   41.38326915,
         81.06402508,  222.0537664 ,  263.48328101,    4.49404254,
         37.98303739,   69.36783142,  212.11568173,  -51.11310164,
        -24.48322886,  -81.5370026 ,   61.90450983,  106.7680608 ,
        -29.61950566,  105.67122944,   97.9176287 ,  -73.71595577,
        219.53945354,   79.56831017,  -44.02982516, -143.38531486,
         92.24210657,  131.06539109,    8.13238672,  291.67826641,
        199.20830432,  135.38298698,  173.12595858,  -77.63809328,
         78.23648048,  -78.07197096,  164.12634869,   13.78865209,
         42.0428089 ,  117.09967473,   35.44945302,  162.62317601,
       -223.42815484,   63.85613827,  133.39736553,  -75.34540427,
        242.54275478,  -97.67818158,  250.29946011,   17.33406562,
         85.78295671,   26.66302778,   35.50619052,  187.91268148,
        -94.04264497,   48.97856674,  110.37677533,  162.03989556,
          7.13810947, -143.62705667,  152.10587161,  -89.15784838,
        -24.13984266,  216.02242565,  -81.69150657, -163.38980724,
        136.95947747,   25.79530616, -283.74475694,  117.23000001])

In [23]:
#movie_index 858 gotfather와 비슷한 영화 찾기(15개)
movie_id = movie_to_idx[858]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(607, 0.99999994),
 (380, 0.9678637),
 (435, 0.55200404),
 (128, 0.4446847),
 (3517, 0.40910873),
 (3150, 0.36442578),
 (601, 0.35750768),
 (3531, 0.3549056),
 (3499, 0.34238124),
 (3601, 0.31595317),
 (3493, 0.31205475),
 (269, 0.31125468),
 (432, 0.30966806),
 (361, 0.30739793),
 (47, 0.29751965)]

## Step 7. 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [24]:
def get_similar_movie(favorite_movie):
    movie_id = movie_to_idx[favorite_movie]
    similar_movie = als_model.similar_items(movie_id, N=15)
    idx_to_movie = {v:k for k,v in movie_to_idx.items()}
    recommand_list = [idx_to_movie[i[0]] for i in similar_movie]
    for movie in recommand_list:
        print(movies[movies['movie_id'] == movie], '--------------------------------------------------------------------', sep='\n')

get_similar_movie(858)

     movie_id                  title               genre
847       858  godfather, the (1972)  Action|Crime|Drama
--------------------------------------------------------------------
      movie_id                           title               genre
1203      1221  godfather: part ii, the (1974)  Action|Crime|Drama
--------------------------------------------------------------------
      movie_id                            title               genre
1954      2023  godfather: part iii, the (1990)  Action|Crime|Drama
--------------------------------------------------------------------
      movie_id                          title                        genre
1884      1953  french connection, the (1971)  Action|Crime|Drama|Thriller
--------------------------------------------------------------------
      movie_id                                              title        genre
1728      1787  paralyzing fear: the story of polio in america...  Documentary
--------------------------------------------------------------------
      movie_id             title  genre
2626      2695  boys, the (1997)  Drama
--------------------------------------------------------------------
     movie_id                title  genre
911       923  citizen kane (1941)  Drama
--------------------------------------------------------------------
     movie_id                 title  genre
861       872  aiqing wansui (1994)  Drama
--------------------------------------------------------------------
      movie_id             title  genre
2818      2887  simon sez (1999)  Drama
--------------------------------------------------------------------
     movie_id                 title                  genre
619       624  condition red (1995)  Action|Drama|Thriller
--------------------------------------------------------------------
      movie_id           title   genre
3526      3595  held up (2000)  Comedy
--------------------------------------------------------------------
      movie_id              title        genre
1195      1213  goodfellas (1990)  Crime|Drama
--------------------------------------------------------------------
     movie_id               title           genre
109       111  taxi driver (1976)  Drama|Thriller
--------------------------------------------------------------------
     movie_id              title              genre
900       912  casablanca (1942)  Drama|Romance|War
--------------------------------------------------------------------
      movie_id                         title  genre
1189      1207  to kill a mockingbird (1962)  Drama
--------------------------------------------------------------------

## Step 8. 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [25]:
def recommand_movie(user_id):
    user = user_to_idx[user_id]
    movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
    idx_to_movie = {v:k for k,v in movie_to_idx.items()}
    recommand_list = [idx_to_movie[i[0]] for i in movie_recommended]
    for movie in recommand_list:
        print(movies[movies['movie_id'] == movie], '--------------------------------------------------------------------', sep='\n')

recommand_movie('999998')   #limjs id : 99998

     movie_id         title                 genre
604       608  fargo (1996)  Crime|Drama|Thriller
--------------------------------------------------------------------
      movie_id                           title               genre
1203      1221  godfather: part ii, the (1974)  Action|Crime|Drama
--------------------------------------------------------------------
    movie_id                       title           genre
49        50  usual suspects, the (1995)  Crime|Thriller
--------------------------------------------------------------------
     movie_id                             title  genre
315       318  shawshank redemption, the (1994)  Drama
--------------------------------------------------------------------
      movie_id              title        genre
1195      1213  goodfellas (1990)  Crime|Drama
--------------------------------------------------------------------
     movie_id                    title      genre
523       527  schindler's list (1993)  Drama|War
--------------------------------------------------------------------
      movie_id                     title                             genre
1575      1617  l.a. confidential (1997)  Crime|Film-Noir|Mystery|Thriller
--------------------------------------------------------------------
      movie_id                   title         genre
2789      2858  american beauty (1999)  Comedy|Drama
--------------------------------------------------------------------
      movie_id                 title           genre
1245      1265  groundhog day (1993)  Comedy|Romance
--------------------------------------------------------------------
      movie_id                  title           genre
1073      1089  reservoir dogs (1992)  Crime|Thriller
--------------------------------------------------------------------
    movie_id                 title           genre
46        47  seven (se7en) (1995)  Crime|Thriller
--------------------------------------------------------------------
      movie_id                     title  genre
1656      1704  good will hunting (1997)  Drama
--------------------------------------------------------------------
      movie_id                            title               genre
1954      2023  godfather: part iii, the (1990)  Action|Crime|Drama
--------------------------------------------------------------------
      movie_id                       title             genre
1959      2028  saving private ryan (1998)  Action|Drama|War
--------------------------------------------------------------------
      movie_id                                              title  \
1192      1210  star wars: episode vi - return of the jedi (1983)

                                    genre
1192  Action|Adventure|Romance|Sci-Fi|War
--------------------------------------------------------------------
      movie_id                        title   genre
2928      2997  being john malkovich (1999)  Comedy
--------------------------------------------------------------------
      movie_id               title           genre
1337      1358  sling blade (1996)  Drama|Thriller
--------------------------------------------------------------------
      movie_id                    title     genre
3032      3101  fatal attraction (1987)  Thriller
--------------------------------------------------------------------
      movie_id                 title          genre
1372      1393  jerry maguire (1996)  Drama|Romance
--------------------------------------------------------------------
      movie_id                      title         genre
1726      1784  as good as it gets (1997)  Comedy|Drama
--------------------------------------------------------------------

In [30]:
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
idx_to_movie

{0: 1193,
 1: 661,
 2: 914,
 3: 3408,
 4: 2355,
 5: 1197,
 6: 1287,
 7: 2804,
 8: 594,
 9: 919,
 10: 595,
 11: 938,
 12: 2398,
 13: 2918,
 14: 1035,
 15: 2791,
 16: 2687,
 17: 2018,
 18: 3105,
 19: 2797,
 20: 2321,
 21: 720,
 22: 1270,
 23: 527,
 24: 2340,
 25: 48,
 26: 1097,
 27: 1721,
 28: 1545,
 29: 745,
 30: 2294,
 31: 3186,
 32: 1566,
 33: 588,
 34: 1907,
 35: 783,
 36: 1836,
 37: 1022,
 38: 2762,
 39: 150,
 40: 1,
 41: 1961,
 42: 1962,
 43: 2692,
 44: 260,
 45: 1028,
 46: 1029,
 47: 1207,
 48: 2028,
 49: 531,
 50: 3114,
 51: 608,
 52: 1246,
 53: 1357,
 54: 3068,
 55: 1537,
 56: 647,
 57: 2194,
 58: 648,
 59: 2268,
 60: 2628,
 61: 1103,
 62: 2916,
 63: 3468,
 64: 1210,
 65: 1792,
 66: 1687,
 67: 3578,
 68: 2881,
 69: 3030,
 70: 1217,
 71: 2126,
 72: 3108,
 73: 3035,
 74: 1253,
 75: 1610,
 76: 292,
 77: 2236,
 78: 3071,
 79: 368,
 80: 1259,
 81: 3147,
 82: 1544,
 83: 1293,
 84: 1188,
 85: 3255,
 86: 3257,
 87: 110,
 88: 2278,
 89: 2490,
 90: 1834,
 91: 3471,
 92: 589,
 93: 1690,
 94: 3654,
 95: 2852,
 96: 1945,
 97: 982,
 98: 1873,
 99: 2858,
 100: 1225,
 101: 515,
 102: 442,
 103: 2312,
 104: 265,
 105: 1408,
 106: 1084,
 107: 480,
 108: 1442,
 109: 2067,
 110: 1265,
 111: 1370,
 112: 1801,
 113: 1372,
 114: 2353,
 115: 3334,
 116: 590,
 117: 1196,
 118: 1552,
 119: 736,
 120: 1198,
 121: 593,
 122: 2359,
 123: 2717,
 124: 2571,
 125: 1917,
 126: 2396,
 127: 3735,
 128: 1953,
 129: 1597,
 130: 3809,
 131: 1954,
 132: 1955,
 133: 235,
 134: 1124,
 135: 1957,
 136: 163,
 137: 165,
 138: 380,
 139: 2501,
 140: 349,
 141: 457,
 142: 1096,
 143: 920,
 144: 459,
 145: 1527,
 146: 3418,
 147: 1385,
 148: 3451,
 149: 3095,
 150: 780,
 151: 498,
 152: 2728,
 153: 2002,
 154: 1784,
 155: 2943,
 156: 2006,
 157: 318,
 158: 3678,
 159: 1244,
 160: 356,
 161: 1247,
 162: 3421,
 163: 1394,
 164: 3534,
 165: 104,
 166: 2735,
 167: 1431,
 168: 3868,
 169: 1079,
 170: 2997,
 171: 1615,
 172: 1291,
 173: 653,
 174: 2167,
 175: 1580,
 176: 1049,
 177: 552,
 178: 1266,
 179: 733,
 180: 1378,
 181: 1379,
 182: 3552,
 183: 1304,
 184: 2470,
 185: 3168,
 186: 3671,
 187: 2871,
 188: 2115,
 189: 1968,
 190: 1136,
 191: 2081,
 192: 2951,
 193: 1214,
 194: 1036,
 195: 3702,
 196: 2366,
 197: 1387,
 198: 1201,
 199: 2947,
 200: 1240,
 201: 2987,
 202: 2333,
 203: 1175,
 204: 39,
 205: 2337,
 206: 1535,
 207: 1392,
 208: 1466,
 209: 1683,
 210: 866,
 211: 1684,
 212: 2770,
 213: 215,
 214: 1759,
 215: 506,
 216: 1250,
 217: 509,
 218: 41,
 219: 3799,
 220: 47,
 221: 2700,
 222: 296,
 223: 581,
 224: 1617,
 225: 728,
 226: 299,
 227: 2560,
 228: 1909,
 229: 224,
 230: 229,
 231: 3006,
 232: 1046,
 233: 50,
 234: 1192,
 235: 3081,
 236: 377,
 237: 3083,
 238: 2427,
 239: 2428,
 240: 2282,
 241: 1554,
 242: 1912,
 243: 2716,
 244: 1485,
 245: 2289,
 246: 162,
 247: 3016,
 248: 1704,
 249: 3163,
 250: 2291,
 251: 1635,
 252: 2721,
 253: 2723,
 254: 1921,
 255: 1923,
 256: 2580,
 257: 968,
 258: 896,
 259: 1788,
 260: 176,
 261: 461,
 262: 1429,
 263: 1715,
 264: 1643,
 265: 1719,
 266: 1649,
 267: 321,
 268: 2013,
 269: 1213,
 270: 1794,
 271: 2599,
 272: 1500,
 273: 2959,
 274: 1509,
 275: 1650,
 276: 908,
 277: 2384,
 278: 1729,
 279: 3476,
 280: 2890,
 281: 16,
 282: 2029,
 283: 194,
 284: 551,
 285: 1513,
 286: 3046,
 287: 2318,
 288: 1517,
 289: 1089,
 290: 3260,
 291: 913,
 292: 1730,
 293: 3409,
 294: 1449,
 295: 1732,
 296: 1733,
 297: 2390,
 298: 1734,
 299: 3267,
 300: 3624,
 301: 2395,
 302: 2683,
 303: 2759,
 304: 994,
 305: 1884,
 306: 1885,
 307: 272,
 308: 348,
 309: 2323,
 310: 29,
 311: 562,
 312: 1095,
 313: 1529,
 314: 497,
 315: 2908,
 316: 3499,
 317: 32,
 318: 1243,
 319: 1897,
 320: 1171,
 321: 3786,
 322: 34,
 323: 36,
 324: 714,
 325: 2406,
 326: 1101,
 327: 3717,
 328: 1030,
 329: 1688,
 330: 364,
 331: 3501,
 332: 3072,
 333: 3074,
 334: 3508,
 335: 1043,
 336: 597,
 337: 383,
 338: 2506,
 339: 3524,
 340: 1569,
 341: 2082,
 342: 3600,
 343: 3604,
 344: 2802,
 345: 3536,
 346: 3753,
 347: 3682,
 348: 2017,
 349: 3685,
 350: 3610,
 351: 1296,
 352: 838,
 353: 1007,
 354: 1947,
 355: 2966,
 356: 266,
 357: 17,
 358: 3699,
 359: 1441,
 360: 1088,
 361: 912,
 362: 199,
 363: 1806,
 364: 2469,
 365: 2100,
 366: 1959,
 367: 1380,
 368: 569,
 369: 1674,
 370: 3565,
 371: 861,
 372: 3793,
 373: 6,
 374: 1997,
 375: 1573,
 376: 3107,
 377: 474,
 378: 1722,
 379: 3256,
 380: 1221,
 381: 2336,
 382: 288,
 383: 3425,
 384: 1393,
 385: 1682,
 386: 508,
 387: 3213,
 388: 42,
 389: 650,
 390: 3500,
 391: 3148,
 392: 2702,
 393: 1476,
 394: 1693,
 395: 151,
 396: 510,
 397: 4,
 398: 1621,
 399: 3155,
 400: 58,
 401: 2712,
 402: 1840,
 403: 1916,
 404: 1488,
 405: 230,
 406: 1120,
 407: 161,
 408: 1411,
 409: 524,
 410: 1059,
 411: 454,
 412: 1701,
 413: 1274,
 414: 741,
 415: 1277,
 416: 1639,
 417: 3528,
 418: 2297,
 419: 3386,
 420: 465,
 421: 1711,
 422: 538,
 423: 2442,
 424: 73,
 425: 3246,
 426: 105,
 427: 253,
 428: 3250,
 429: 3252,
 430: 476,
 431: 1653,
 432: 111,
 433: 3259,
 434: 1589,
 435: 2023,
 436: 14,
 437: 337,
 438: 2314,
 439: 269,
 440: 555,
 441: 1660,
 442: 3265,
 443: 1735,
 444: 3481,
 445: 2686,
 446: 2688,
 447: 345,
 448: 24,
 449: 25,
 450: 2324,
 451: 2329,
 452: 2541,
 453: 1673,
 454: 1678,
 455: 1027,
 456: 2699,
 457: 282,
 458: 367,
 459: 223,
 460: 3298,
 461: 3948,
 462: 805,
 463: 3510,
 464: 3513,
 465: 300,
 466: 1777,
 467: 1343,
 468: 3160,
 469: 529,
 470: 1060,
 471: 1356,
 472: 1358,
 473: 3178,
 474: 3751,
 475: 2302,
 476: 1148,
 477: 2166,
 478: 3253,
 479: 1584,
 480: 1223,
 481: 1446,
 482: 3623,
 483: 778,
 484: 1669,
 485: 412,
 486: 3916,
 487: 1233,
 488: 1307,
 489: 3270,
 490: 1310,
 491: 428,
 492: 2622,
 493: 3358,
 494: 3359,
 495: 1756,
 496: 1320,
 497: 2124,
 498: 2125,
 499: 2054,
 500: 1252,
 501: 1254,
 502: 3869,
 503: 1256,
 504: 1257,
 505: 1831,
 506: 3363,
 507: 586,
 508: 587,
 509: 3438,
 510: 3296,
 511: 2496,
 512: 2497,
 513: 2,
 514: 2498,
 515: 153,
 516: 7,
 517: 2133,
 518: 2135,
 519: 2136,
 520: 2137,
 521: 802,
 522: 2138,
 523: 1409,
 524: 1339,
 525: 1269,
 526: 2640,
 527: 592,
 528: 596,
 529: 3447,
 530: 1918,
 531: 2140,
 532: 2072,
 533: 1271,
 534: 1345,
 535: 2077,
 536: 2078,
 537: 1276,
 538: 743,
 539: 671,
 540: 1278,
 541: 1927,
 542: 2657,
 543: 3388,
 544: 316,
 545: 317,
 546: 248,
 547: 2080,
 548: 1282,
 549: 1283,
 550: 750,
 551: 2087,
 552: 1286,
 553: 3608,
 554: 2662,
 555: 3466,
 556: 3100,
 557: 2300,
 558: 329,
 559: 3034,
 560: 186,
 561: 2161,
 562: 3037,
 563: 2090,
 564: 3039,
 565: 2091,
 566: 902,
 567: 830,
 568: 2093,
 569: 904,
 570: 2094,
 571: 1292,
 572: 2096,
 573: 1294,
 574: 765,
 575: 2746,
 576: 1009,
 577: 1948,
 578: 333,
 579: 339,
 580: 2316,
 581: 1371,
 582: 2174,
 583: 1374,
 584: 1375,
 585: 915,
 586: 1376,
 587: 1377,
 588: 916,
 589: 918,
 590: 1012,
 591: 2826,
 592: 3629,
 593: 1015,
 594: 1016,
 595: 1019,
 596: 3489,
 597: 344,
 598: 275,
 599: 2252,
 600: 277,
 601: 923,
 602: 924,
 603: 3701,
 604: 926,
 605: 1020,
 606: 784,
 607: 858,
 608: 1023,
 609: 1025,
 610: 2693,
 611: 1967,
 612: 351,
 613: 357,
 614: 2405,
 615: 2407,
 616: 2193,
 617: 1031,
 618: 1104,
 619: 1032,
 620: 435,
 621: 943,
 622: 3723,
 623: 1042,
 624: 370,
 625: 2423,
 626: 2424,
 627: 3086,
 628: 3087,
 629: 953,
 630: 954,
 631: 3591,
 632: 2863,
 633: 3593,
 634: 1125,
 635: 520,
 636: 3668,
 637: 1127,
 638: 2795,
 639: 1129,
 640: 2431,
 641: 62,
 642: 3309,
 643: 1633,
 644: 2436,
 645: 3097,
 646: 3099,
 647: 3812,
 648: 2000,
 649: 963,
 650: 2001,
 651: 1200,
 652: 2003,
 653: 1203,
 654: 2005,
 655: 1204,
 656: 969,
 657: 2872,
 658: 3675,
 659: 2946,
 660: 898,
 661: 2009,
 662: 2874,
 663: 899,
 664: 1135,
 665: 2948,
 666: 539,
 667: 2371,
 668: 3247,
 669: 3174,
 670: 3175,
 671: 2375,
 672: 2378,
 673: 971,
 674: 2011,
 675: 2012,
 676: 2015,
 677: 1215,
 678: 1073,
 679: 3688,
 680: 541,
 681: 542,
 682: 543,
 683: 3254,
 684: 2453,
 685: 2529,
 686: 1654,
 687: 1583,
 688: 3189,
 689: 116,
 690: 1586,
 691: 2021,
 692: 1220,
 693: 1080,
 694: 2967,
 695: 2968,
 696: 2530,
 697: 3264,
 698: 3194,
 699: 2393,
 700: 3198,
 701: 2399,
 702: 1302,
 703: 1230,
 704: 2105,
 705: 2033,
 706: 2108,
 707: 1234,
 708: 2109,
 709: 1091,
 710: 2617,
 711: 3347,
 712: 203,
 713: 1676,
 714: 208,
 715: 2111,
 716: 2040,
 717: 2041,
 718: 3928,
 719: 2043,
 720: 2045,
 721: 2046,
 722: 2047,
 723: 2049,
 724: 1753,
 725: 216,
 726: 2710,
 727: 663,
 728: 3448,
 729: 231,
 730: 2076,
 731: 246,
 732: 249,
 733: 1288,
 734: 764,
 735: 342,
 736: 2325,
 737: 3129,
 738: 2766,
 739: 2335,
 740: 3146,
 741: 1546,
 742: 441,
 743: 1563,
 744: 1498,
 745: 3176,
 746: 3755,
 747: 2883,
 748: 88,
 749: 481,
 750: 2539,
 751: 2106,
 752: 1747,
 753: 3362,
 754: 813,
 755: 3897,
 756: 3658,
 757: 1641,
 758: 1303,
 759: 999,
 760: 3785,
 761: 1331,
 762: 1262,
 763: 2641,
 764: 3036,
 765: 3479,
 766: 10,
 767: 2822,
 768: 21,
 769: 421,
 770: 434,
 771: 1479,
 772: 517,
 773: 952,
 774: 3745,
 775: 2370,
 776: 1216,
 777: 2528,
 778: 1587,
 779: 3269,
 780: 3417,
 781: 2616,
 782: 3354,
 783: 1263,
 784: 2731,
 785: 3033,
 786: 2243,
 787: 2920,
 788: 2976,
 789: 2485,
 790: 141,
 791: 2058,
 792: 3798,
 793: 2706,
 794: 2707,
 795: 2567,
 796: 3005,
 797: 2719,
 798: 748,
 799: 2724,
 800: 2581,
 801: 1422,
 802: 3461,
 803: 2598,
 804: 257,
 805: 832,
 806: 762,
 807: 2676,
 808: 3113,
 809: 1883,
 810: 2188,
 811: 2763,
 812: 788,
 813: 2764,
 814: 2694,
 815: 1892,
 816: 1608,
 817: 1396,
 818: 2840,
 819: 2841,
 820: 3646,
 821: 500,
 822: 3145,
 823: 2272,
 824: 2273,
 825: 1619,
 826: 1625,
 827: 1487,
 828: 1702,
 829: 2433,
 830: 1644,
 831: 1645,
 832: 2882,
 833: 2389,
 834: 2961,
 835: 553,
 836: 628,
 837: 2605,
 838: 1804,
 839: 1805,
 840: 2391,
 841: 2394,
 842: 1092,
 843: 1810,
 844: 1672,
 845: 3004,
 846: 1911,
 847: 3516,
 848: 2643,
 849: 2572,
 850: 2805,
 851: 2761,
 852: 2369,
 853: 2888,
 854: 2975,
 855: 1179,
 856: 2553,
 857: 2554,
 858: 3932,
 859: 3863,
 860: 1185,
 861: 3503,
 862: 3879,
 863: 3375,
 864: 164,
 865: 3527,
 866: 3457,
 867: 319,
 868: 247,
 869: 1428,
 870: 1284,
 871: 2660,
 872: 2661,
 873: 2663,
 874: 2664,
 875: 3032,
 876: 2311,
 877: 2173,
 878: 198,
 879: 2752,
 880: 340,
 881: 3700,
 882: 3703,
 883: 2901,
 884: 3704,
 885: 30,
 886: 1601,
 887: 3713,
 888: 2912,
 889: 3576,
 890: 293,
 891: 3070,
 892: 1614,
 893: 2346,
 894: 942,
 895: 446,
 896: 1624,
 897: 3156,
 898: 2287,
 899: 2288,
 900: 3662,
 901: 3594,
 902: 3300,
 903: 3744,
 904: 1206,
 905: 1069,
 906: 76,
 907: 2377,
 908: 2010,
 909: 3827,
 910: 610,
 911: 1077,
 912: 2527,
 913: 2455,
 914: 3696,
 915: 2600,
 916: 2533,
 917: 1594,
 918: 1301,
 919: 707,
 920: 2613,
 921: 2542,
 922: 496,
 923: 2549,
 924: 1748,
 925: 3927,
 926: 2116,
 927: 2117,
 928: 2985,
 929: 2989,
 930: 2123,
 931: 2052,
 932: 2993,
 933: 2701,
 934: 222,
 935: 158,
 936: 2139,
 937: 2573,
 938: 302,
 939: 232,
 940: 2141,
 941: 2142,
 942: 2143,
 943: 2145,
 944: 1344,
 945: 1275,
 946: 3526,
 947: 313,
 948: 2153,
 949: 2083,
 950: 2085,
 951: 2089,
 952: 2739,
 953: 3396,
 954: 3397,
 955: 3398,
 956: 3399,
 957: 327,
 958: 1876,
 959: 261,
 960: 262,
 961: 2248,
 962: 1013,
 963: 1956,
 964: 26,
 965: 3705,
 966: 3633,
 967: 3635,
 968: 1960,
 969: 3639,
 970: 3494,
 971: 353,
 972: 1391,
 973: 1033,
 974: 44,
 975: 2414,
 976: 2348,
 977: 940,
 978: 466,
 979: 2373,
 980: 2019,
 981: 616,
 982: 475,
 983: 86,
 984: 2020,
 985: 3698,
 986: 1094,
 987: 493,
 988: 1242,
 989: 3930,
 990: 1321,
 991: 2990,
 992: 2991,
 993: 1258,
 994: 2633,
 995: 2638,
 996: 2568,
 997: 1407,
 998: 1334,
 999: 1261,
 ...}

In [33]:
movie_to_idx = {v:k for v,k in movie_to_idx.items()}
movie_to_idx

{1193: 0,
 661: 1,
 914: 2,
 3408: 3,
 2355: 4,
 1197: 5,
 1287: 6,
 2804: 7,
 594: 8,
 919: 9,
 595: 10,
 938: 11,
 2398: 12,
 2918: 13,
 1035: 14,
 2791: 15,
 2687: 16,
 2018: 17,
 3105: 18,
 2797: 19,
 2321: 20,
 720: 21,
 1270: 22,
 527: 23,
 2340: 24,
 48: 25,
 1097: 26,
 1721: 27,
 1545: 28,
 745: 29,
 2294: 30,
 3186: 31,
 1566: 32,
 588: 33,
 1907: 34,
 783: 35,
 1836: 36,
 1022: 37,
 2762: 38,
 150: 39,
 1: 40,
 1961: 41,
 1962: 42,
 2692: 43,
 260: 44,
 1028: 45,
 1029: 46,
 1207: 47,
 2028: 48,
 531: 49,
 3114: 50,
 608: 51,
 1246: 52,
 1357: 53,
 3068: 54,
 1537: 55,
 647: 56,
 2194: 57,
 648: 58,
 2268: 59,
 2628: 60,
 1103: 61,
 2916: 62,
 3468: 63,
 1210: 64,
 1792: 65,
 1687: 66,
 3578: 67,
 2881: 68,
 3030: 69,
 1217: 70,
 2126: 71,
 3108: 72,
 3035: 73,
 1253: 74,
 1610: 75,
 292: 76,
 2236: 77,
 3071: 78,
 368: 79,
 1259: 80,
 3147: 81,
 1544: 82,
 1293: 83,
 1188: 84,
 3255: 85,
 3257: 86,
 110: 87,
 2278: 88,
 2490: 89,
 1834: 90,
 3471: 91,
 589: 92,
 1690: 93,
 3654: 94,
 2852: 95,
 1945: 96,
 982: 97,
 1873: 98,
 2858: 99,
 1225: 100,
 515: 101,
 442: 102,
 2312: 103,
 265: 104,
 1408: 105,
 1084: 106,
 480: 107,
 1442: 108,
 2067: 109,
 1265: 110,
 1370: 111,
 1801: 112,
 1372: 113,
 2353: 114,
 3334: 115,
 590: 116,
 1196: 117,
 1552: 118,
 736: 119,
 1198: 120,
 593: 121,
 2359: 122,
 2717: 123,
 2571: 124,
 1917: 125,
 2396: 126,
 3735: 127,
 1953: 128,
 1597: 129,
 3809: 130,
 1954: 131,
 1955: 132,
 235: 133,
 1124: 134,
 1957: 135,
 163: 136,
 165: 137,
 380: 138,
 2501: 139,
 349: 140,
 457: 141,
 1096: 142,
 920: 143,
 459: 144,
 1527: 145,
 3418: 146,
 1385: 147,
 3451: 148,
 3095: 149,
 780: 150,
 498: 151,
 2728: 152,
 2002: 153,
 1784: 154,
 2943: 155,
 2006: 156,
 318: 157,
 3678: 158,
 1244: 159,
 356: 160,
 1247: 161,
 3421: 162,
 1394: 163,
 3534: 164,
 104: 165,
 2735: 166,
 1431: 167,
 3868: 168,
 1079: 169,
 2997: 170,
 1615: 171,
 1291: 172,
 653: 173,
 2167: 174,
 1580: 175,
 1049: 176,
 552: 177,
 1266: 178,
 733: 179,
 1378: 180,
 1379: 181,
 3552: 182,
 1304: 183,
 2470: 184,
 3168: 185,
 3671: 186,
 2871: 187,
 2115: 188,
 1968: 189,
 1136: 190,
 2081: 191,
 2951: 192,
 1214: 193,
 1036: 194,
 3702: 195,
 2366: 196,
 1387: 197,
 1201: 198,
 2947: 199,
 1240: 200,
 2987: 201,
 2333: 202,
 1175: 203,
 39: 204,
 2337: 205,
 1535: 206,
 1392: 207,
 1466: 208,
 1683: 209,
 866: 210,
 1684: 211,
 2770: 212,
 215: 213,
 1759: 214,
 506: 215,
 1250: 216,
 509: 217,
 41: 218,
 3799: 219,
 47: 220,
 2700: 221,
 296: 222,
 581: 223,
 1617: 224,
 728: 225,
 299: 226,
 2560: 227,
 1909: 228,
 224: 229,
 229: 230,
 3006: 231,
 1046: 232,
 50: 233,
 1192: 234,
 3081: 235,
 377: 236,
 3083: 237,
 2427: 238,
 2428: 239,
 2282: 240,
 1554: 241,
 1912: 242,
 2716: 243,
 1485: 244,
 2289: 245,
 162: 246,
 3016: 247,
 1704: 248,
 3163: 249,
 2291: 250,
 1635: 251,
 2721: 252,
 2723: 253,
 1921: 254,
 1923: 255,
 2580: 256,
 968: 257,
 896: 258,
 1788: 259,
 176: 260,
 461: 261,
 1429: 262,
 1715: 263,
 1643: 264,
 1719: 265,
 1649: 266,
 321: 267,
 2013: 268,
 1213: 269,
 1794: 270,
 2599: 271,
 1500: 272,
 2959: 273,
 1509: 274,
 1650: 275,
 908: 276,
 2384: 277,
 1729: 278,
 3476: 279,
 2890: 280,
 16: 281,
 2029: 282,
 194: 283,
 551: 284,
 1513: 285,
 3046: 286,
 2318: 287,
 1517: 288,
 1089: 289,
 3260: 290,
 913: 291,
 1730: 292,
 3409: 293,
 1449: 294,
 1732: 295,
 1733: 296,
 2390: 297,
 1734: 298,
 3267: 299,
 3624: 300,
 2395: 301,
 2683: 302,
 2759: 303,
 994: 304,
 1884: 305,
 1885: 306,
 272: 307,
 348: 308,
 2323: 309,
 29: 310,
 562: 311,
 1095: 312,
 1529: 313,
 497: 314,
 2908: 315,
 3499: 316,
 32: 317,
 1243: 318,
 1897: 319,
 1171: 320,
 3786: 321,
 34: 322,
 36: 323,
 714: 324,
 2406: 325,
 1101: 326,
 3717: 327,
 1030: 328,
 1688: 329,
 364: 330,
 3501: 331,
 3072: 332,
 3074: 333,
 3508: 334,
 1043: 335,
 597: 336,
 383: 337,
 2506: 338,
 3524: 339,
 1569: 340,
 2082: 341,
 3600: 342,
 3604: 343,
 2802: 344,
 3536: 345,
 3753: 346,
 3682: 347,
 2017: 348,
 3685: 349,
 3610: 350,
 1296: 351,
 838: 352,
 1007: 353,
 1947: 354,
 2966: 355,
 266: 356,
 17: 357,
 3699: 358,
 1441: 359,
 1088: 360,
 912: 361,
 199: 362,
 1806: 363,
 2469: 364,
 2100: 365,
 1959: 366,
 1380: 367,
 569: 368,
 1674: 369,
 3565: 370,
 861: 371,
 3793: 372,
 6: 373,
 1997: 374,
 1573: 375,
 3107: 376,
 474: 377,
 1722: 378,
 3256: 379,
 1221: 380,
 2336: 381,
 288: 382,
 3425: 383,
 1393: 384,
 1682: 385,
 508: 386,
 3213: 387,
 42: 388,
 650: 389,
 3500: 390,
 3148: 391,
 2702: 392,
 1476: 393,
 1693: 394,
 151: 395,
 510: 396,
 4: 397,
 1621: 398,
 3155: 399,
 58: 400,
 2712: 401,
 1840: 402,
 1916: 403,
 1488: 404,
 230: 405,
 1120: 406,
 161: 407,
 1411: 408,
 524: 409,
 1059: 410,
 454: 411,
 1701: 412,
 1274: 413,
 741: 414,
 1277: 415,
 1639: 416,
 3528: 417,
 2297: 418,
 3386: 419,
 465: 420,
 1711: 421,
 538: 422,
 2442: 423,
 73: 424,
 3246: 425,
 105: 426,
 253: 427,
 3250: 428,
 3252: 429,
 476: 430,
 1653: 431,
 111: 432,
 3259: 433,
 1589: 434,
 2023: 435,
 14: 436,
 337: 437,
 2314: 438,
 269: 439,
 555: 440,
 1660: 441,
 3265: 442,
 1735: 443,
 3481: 444,
 2686: 445,
 2688: 446,
 345: 447,
 24: 448,
 25: 449,
 2324: 450,
 2329: 451,
 2541: 452,
 1673: 453,
 1678: 454,
 1027: 455,
 2699: 456,
 282: 457,
 367: 458,
 223: 459,
 3298: 460,
 3948: 461,
 805: 462,
 3510: 463,
 3513: 464,
 300: 465,
 1777: 466,
 1343: 467,
 3160: 468,
 529: 469,
 1060: 470,
 1356: 471,
 1358: 472,
 3178: 473,
 3751: 474,
 2302: 475,
 1148: 476,
 2166: 477,
 3253: 478,
 1584: 479,
 1223: 480,
 1446: 481,
 3623: 482,
 778: 483,
 1669: 484,
 412: 485,
 3916: 486,
 1233: 487,
 1307: 488,
 3270: 489,
 1310: 490,
 428: 491,
 2622: 492,
 3358: 493,
 3359: 494,
 1756: 495,
 1320: 496,
 2124: 497,
 2125: 498,
 2054: 499,
 1252: 500,
 1254: 501,
 3869: 502,
 1256: 503,
 1257: 504,
 1831: 505,
 3363: 506,
 586: 507,
 587: 508,
 3438: 509,
 3296: 510,
 2496: 511,
 2497: 512,
 2: 513,
 2498: 514,
 153: 515,
 7: 516,
 2133: 517,
 2135: 518,
 2136: 519,
 2137: 520,
 802: 521,
 2138: 522,
 1409: 523,
 1339: 524,
 1269: 525,
 2640: 526,
 592: 527,
 596: 528,
 3447: 529,
 1918: 530,
 2140: 531,
 2072: 532,
 1271: 533,
 1345: 534,
 2077: 535,
 2078: 536,
 1276: 537,
 743: 538,
 671: 539,
 1278: 540,
 1927: 541,
 2657: 542,
 3388: 543,
 316: 544,
 317: 545,
 248: 546,
 2080: 547,
 1282: 548,
 1283: 549,
 750: 550,
 2087: 551,
 1286: 552,
 3608: 553,
 2662: 554,
 3466: 555,
 3100: 556,
 2300: 557,
 329: 558,
 3034: 559,
 186: 560,
 2161: 561,
 3037: 562,
 2090: 563,
 3039: 564,
 2091: 565,
 902: 566,
 830: 567,
 2093: 568,
 904: 569,
 2094: 570,
 1292: 571,
 2096: 572,
 1294: 573,
 765: 574,
 2746: 575,
 1009: 576,
 1948: 577,
 333: 578,
 339: 579,
 2316: 580,
 1371: 581,
 2174: 582,
 1374: 583,
 1375: 584,
 915: 585,
 1376: 586,
 1377: 587,
 916: 588,
 918: 589,
 1012: 590,
 2826: 591,
 3629: 592,
 1015: 593,
 1016: 594,
 1019: 595,
 3489: 596,
 344: 597,
 275: 598,
 2252: 599,
 277: 600,
 923: 601,
 924: 602,
 3701: 603,
 926: 604,
 1020: 605,
 784: 606,
 858: 607,
 1023: 608,
 1025: 609,
 2693: 610,
 1967: 611,
 351: 612,
 357: 613,
 2405: 614,
 2407: 615,
 2193: 616,
 1031: 617,
 1104: 618,
 1032: 619,
 435: 620,
 943: 621,
 3723: 622,
 1042: 623,
 370: 624,
 2423: 625,
 2424: 626,
 3086: 627,
 3087: 628,
 953: 629,
 954: 630,
 3591: 631,
 2863: 632,
 3593: 633,
 1125: 634,
 520: 635,
 3668: 636,
 1127: 637,
 2795: 638,
 1129: 639,
 2431: 640,
 62: 641,
 3309: 642,
 1633: 643,
 2436: 644,
 3097: 645,
 3099: 646,
 3812: 647,
 2000: 648,
 963: 649,
 2001: 650,
 1200: 651,
 2003: 652,
 1203: 653,
 2005: 654,
 1204: 655,
 969: 656,
 2872: 657,
 3675: 658,
 2946: 659,
 898: 660,
 2009: 661,
 2874: 662,
 899: 663,
 1135: 664,
 2948: 665,
 539: 666,
 2371: 667,
 3247: 668,
 3174: 669,
 3175: 670,
 2375: 671,
 2378: 672,
 971: 673,
 2011: 674,
 2012: 675,
 2015: 676,
 1215: 677,
 1073: 678,
 3688: 679,
 541: 680,
 542: 681,
 543: 682,
 3254: 683,
 2453: 684,
 2529: 685,
 1654: 686,
 1583: 687,
 3189: 688,
 116: 689,
 1586: 690,
 2021: 691,
 1220: 692,
 1080: 693,
 2967: 694,
 2968: 695,
 2530: 696,
 3264: 697,
 3194: 698,
 2393: 699,
 3198: 700,
 2399: 701,
 1302: 702,
 1230: 703,
 2105: 704,
 2033: 705,
 2108: 706,
 1234: 707,
 2109: 708,
 1091: 709,
 2617: 710,
 3347: 711,
 203: 712,
 1676: 713,
 208: 714,
 2111: 715,
 2040: 716,
 2041: 717,
 3928: 718,
 2043: 719,
 2045: 720,
 2046: 721,
 2047: 722,
 2049: 723,
 1753: 724,
 216: 725,
 2710: 726,
 663: 727,
 3448: 728,
 231: 729,
 2076: 730,
 246: 731,
 249: 732,
 1288: 733,
 764: 734,
 342: 735,
 2325: 736,
 3129: 737,
 2766: 738,
 2335: 739,
 3146: 740,
 1546: 741,
 441: 742,
 1563: 743,
 1498: 744,
 3176: 745,
 3755: 746,
 2883: 747,
 88: 748,
 481: 749,
 2539: 750,
 2106: 751,
 1747: 752,
 3362: 753,
 813: 754,
 3897: 755,
 3658: 756,
 1641: 757,
 1303: 758,
 999: 759,
 3785: 760,
 1331: 761,
 1262: 762,
 2641: 763,
 3036: 764,
 3479: 765,
 10: 766,
 2822: 767,
 21: 768,
 421: 769,
 434: 770,
 1479: 771,
 517: 772,
 952: 773,
 3745: 774,
 2370: 775,
 1216: 776,
 2528: 777,
 1587: 778,
 3269: 779,
 3417: 780,
 2616: 781,
 3354: 782,
 1263: 783,
 2731: 784,
 3033: 785,
 2243: 786,
 2920: 787,
 2976: 788,
 2485: 789,
 141: 790,
 2058: 791,
 3798: 792,
 2706: 793,
 2707: 794,
 2567: 795,
 3005: 796,
 2719: 797,
 748: 798,
 2724: 799,
 2581: 800,
 1422: 801,
 3461: 802,
 2598: 803,
 257: 804,
 832: 805,
 762: 806,
 2676: 807,
 3113: 808,
 1883: 809,
 2188: 810,
 2763: 811,
 788: 812,
 2764: 813,
 2694: 814,
 1892: 815,
 1608: 816,
 1396: 817,
 2840: 818,
 2841: 819,
 3646: 820,
 500: 821,
 3145: 822,
 2272: 823,
 2273: 824,
 1619: 825,
 1625: 826,
 1487: 827,
 1702: 828,
 2433: 829,
 1644: 830,
 1645: 831,
 2882: 832,
 2389: 833,
 2961: 834,
 553: 835,
 628: 836,
 2605: 837,
 1804: 838,
 1805: 839,
 2391: 840,
 2394: 841,
 1092: 842,
 1810: 843,
 1672: 844,
 3004: 845,
 1911: 846,
 3516: 847,
 2643: 848,
 2572: 849,
 2805: 850,
 2761: 851,
 2369: 852,
 2888: 853,
 2975: 854,
 1179: 855,
 2553: 856,
 2554: 857,
 3932: 858,
 3863: 859,
 1185: 860,
 3503: 861,
 3879: 862,
 3375: 863,
 164: 864,
 3527: 865,
 3457: 866,
 319: 867,
 247: 868,
 1428: 869,
 1284: 870,
 2660: 871,
 2661: 872,
 2663: 873,
 2664: 874,
 3032: 875,
 2311: 876,
 2173: 877,
 198: 878,
 2752: 879,
 340: 880,
 3700: 881,
 3703: 882,
 2901: 883,
 3704: 884,
 30: 885,
 1601: 886,
 3713: 887,
 2912: 888,
 3576: 889,
 293: 890,
 3070: 891,
 1614: 892,
 2346: 893,
 942: 894,
 446: 895,
 1624: 896,
 3156: 897,
 2287: 898,
 2288: 899,
 3662: 900,
 3594: 901,
 3300: 902,
 3744: 903,
 1206: 904,
 1069: 905,
 76: 906,
 2377: 907,
 2010: 908,
 3827: 909,
 610: 910,
 1077: 911,
 2527: 912,
 2455: 913,
 3696: 914,
 2600: 915,
 2533: 916,
 1594: 917,
 1301: 918,
 707: 919,
 2613: 920,
 2542: 921,
 496: 922,
 2549: 923,
 1748: 924,
 3927: 925,
 2116: 926,
 2117: 927,
 2985: 928,
 2989: 929,
 2123: 930,
 2052: 931,
 2993: 932,
 2701: 933,
 222: 934,
 158: 935,
 2139: 936,
 2573: 937,
 302: 938,
 232: 939,
 2141: 940,
 2142: 941,
 2143: 942,
 2145: 943,
 1344: 944,
 1275: 945,
 3526: 946,
 313: 947,
 2153: 948,
 2083: 949,
 2085: 950,
 2089: 951,
 2739: 952,
 3396: 953,
 3397: 954,
 3398: 955,
 3399: 956,
 327: 957,
 1876: 958,
 261: 959,
 262: 960,
 2248: 961,
 1013: 962,
 1956: 963,
 26: 964,
 3705: 965,
 3633: 966,
 3635: 967,
 1960: 968,
 3639: 969,
 3494: 970,
 353: 971,
 1391: 972,
 1033: 973,
 44: 974,
 2414: 975,
 2348: 976,
 940: 977,
 466: 978,
 2373: 979,
 2019: 980,
 616: 981,
 475: 982,
 86: 983,
 2020: 984,
 3698: 985,
 1094: 986,
 493: 987,
 1242: 988,
 3930: 989,
 1321: 990,
 2990: 991,
 2991: 992,
 1258: 993,
 2633: 994,
 2638: 995,
 2568: 996,
 1407: 997,
 1334: 998,
 1261: 999,
 ...}

## ◈ 루브릭

아래의 기준을 바탕으로 프로젝트를 평가합니다.

평가문항/상세기준
1. CSR matrix가 정상적으로 만들어졌다.
사용자와 아이템 개수를 바탕으로 정확한 사이즈로 만들었다.

2. MF 모델이 정상적으로 훈련되어 그럴듯한 추천이 이루어졌다.
사용자와 아이템 벡터 내적수치가 의미있게 형성되었다.

3. 비슷한 영화 찾기와 유저에게 추천하기의 과정이 정상적으로 진행되었다.
MF모델이 예측한 유저 선호도 및 아이템간 유사도, 기여도가 의미있게 측정되었다.


## ◈ 회고

좋아하는 영화로 선정한 godfather과 유사도가 1.0인 결과를 확인해보니 대부가 1,2,3 으로 시리즈로 나왔기 때문에 똑같은 텍스트로 인식하여 유사도가 1로 나오는 결과를 초래한 것으로 보인다.
이런 문제를 보완하기 위해서는 자기 자신과 같은 이름의 영화 제목을 필터링 해 줘야 할 필요성을 느겼다. 

아직까지도 CSR matrix의 형태에 사용법에 대해서 잘 모르기 때문에 노드 진행과 포로젝트 진행에 어려움이 많았다. 
잘 되어진 코드를 보고 천천히 따라해 보면서 부족한 부분을 찾아가면서 다시 학습을 할 수 밖에 없었고 시간 투자에 비해서 잘 이해가 되지 않는 프로젝트였다.